* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: gray;
  padding: 2rem 5rem;
}
section {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  background-color: black;
  min-height: 85vh;
  color: white;
  header {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    a {
      color: white;
      text-decoration: none;
    }
    nav {
      display: flex;
      gap: 2rem;
    }
  }
}
